# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Debug information files
*.dwo

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# From apk-tools directory
apk-tools/src/apk
apk-tools/src/apk-test
apk-tools/src/apk.static
apk-tools/test/*.got
apk-tools/test/repos.out
apk-tools/test/repos.stamp
apk-tools/test/test*.out
apk-tools/test/test*.ok
apk-tools/libfetch/*err.h
apk-tools/*.a
apk-tools/*.o
apk-tools/*.d
apk-tools/*.cmd
apk-tools/*.so*
apk-tools/*.5
apk-tools/*.8
apk-tools/*.pc
apk-tools/config.mk